<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>OUTSIDE</title>
</head>
<body>
    <main>
        <nav class="container">
            <h1>APP OUTSIDE</h1>
            <ul class="menu">
                <li>
                    <i class="bi bi-house"></i><a href="#"> Home</a>
                </li>
                <li>
                    <i class="bi bi-list-ol"></i><a href="#"> PO</a>
                </li>
                <li>
                    <i class="bi bi-clock"></i><a href="#"> Horas</a>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>