<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>OUTSIDE</title>
</head>
<body>
    <nav class="sidebar">
        <div class="sidebar-content">
            <div class="titulo-sidebar">
                <img src="https://www.eaton.com/content/dam/eaton/global/logos/eaton-logo-mobile.png" alt="imagem" class="avatar">
                <h1>OUTSIDE</h1>
                <p class="user-info">By Alexandre Fagundes</p>
            </div>
            <ul class="sidebar-items">
                <li class="sidebar-item">
                    <i class="fa-solid fa-house-user"></i>
                    <a href="#">Home</a>
                </li>
                <li class="sidebar-item">
                    <i class="fa-solid fa-list"></i>
                    <a href="#">PO</a>
                </li>
                <li class="sidebar-item">
                    <i class="fa-solid fa-clock"></i>
                    <a href="#">Horas</a>
                </li>
            </ul>
        </div>
        <div class="about">
            <button id="about-btn">
                <i class="fas fa-circle-info"></i>
                <span class="item-description">About</span>
            </button>
        </div>
    </nav>
    <main class="main-section">
        <div class="itens">
            <label for="item">Filtrar por ITEM:</label>
            <input type="text" id="FiltroItem" onkeyup="filtrarTabela()">
            
            <table class="tabela">
                <thead class="thead-titulo">
                    <tr class="tr-titulo">
                        <th>FORJADO</th>
                        <th>ITEM</th>
                        <th>DATA DE ENVIO</th>
                        <th>QTY ENVIADA</th>
                        <th>DATA DE RETORNO</th>
                        <th>QTY RETORNADA</th>
                        <th>NECESSIDADE</th>
                    </tr>
                </thead>
                <tbody id="corpo-tabela">
                    
                </tbody>
            </table>
            <script>
                let allDados = []

                function renderizarTabela(dados) {
                    const tbody = document.getElementById('corpo-tabela')
                    tbody.innerHTML = '';
                    dados.forEach(row => {
                        const tr = document.createElement('tr')
                        tr.innerHTML = `
                        <td>${row.FORJADO}</td>
                        <td>${row.ITEM}</td>
                        <td>${row.DATA_ENV}</td>
                        <td>${row.QTY_ENV}</td>
                        <td>${row.DATA_RET}</td>
                        <td>${row.QTY_RET}</td>
                        <td>${row.NECESSIDADE}</td>
                        `;
                        tbody.appendChild(tr)
                    });
                }

                fetch('/dados')
                    .then(resp => resp.json())
                    .then(data => {
                        allDados = data;
                        renderizarTabela(data);
                    });

                document.getElementById('FitroItem').addEventListener('input', function() {
                    const termo = this.value.toLowerCase();
                    const filtrados = allDados.filter(dado => dado.ITEM.toLowerCase().includes(termo));
                    renderizarTabela(filtrados);
                });
            </script>
        </div>
    </main>
</body>
</html>