@charset "UTF-8";

:root {
    /* Cores principais */
    --color-primary: #4f46e5;        /* Azul escuro */
    --color-background: #e3e9f7;     /* Azul claro / fundo */
    --color-white: #ffffff;          /* Branco */
    --color-gray: #6b6b6b;           /* Cinza médio */
    --color-black: #0a0a0a;          /* Quase preto */
}


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

.sidebar {
    display: flex;
    height: 100vh;
    width: 60px;
    flex-flow: column wrap;
    background-color: var(--color-white);
    border-radius: 0 15px 15px 0;
    transition: all .5s ease;
}

.sidebar-content {
    padding: 10px;
}

.avatar {
    width: 100px;
}

.user-info {
    font-size: .6em;
}

.titulo-sidebar {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    opacity: 0;
    visibility: hidden;
}

.titulo-sidebar > img {
    width: 60px;
}

.sidebar-items {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-flow: column nowrap;
    list-style-type: none;
}


.sidebar:hover .sidebar-items > li > a {
    opacity: 1;
    visibility: visible;
}

.sidebar:hover .titulo-sidebar {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover .about {
    width: px;
}

.sidebar-items li {
    display: flex;
    border-radius: 5px;
    height: 40px;
    transition: background-color .2s ease;
    align-items: center;
    padding: 10px;
}

.sidebar-items li:hover {
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 10px;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;
}

.about {
    margin-top: auto;
    align-items: flex-end;
    height: 50px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.164);
    padding-top: 1px;
    padding-bottom: 1px;
    transition: width .5s ease;
    width: 100%;
}

#about-btn {
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--color-white);
    margin: 0 10px;
    border-radius: 5px;
}

#about-btn:hover {
    background-color: var(--color-background);
}