@charset "UTF-8";

:root {
    /* Cores principais */
    --color-primary: #4f46e5;        /* Azul escuro */
    --color-background: #e3e9f7;     /* Azul claro / fundo */
    --color-white: #ffffff;          /* Branco */
    --color-gray: #6b6b6b;           /* Cinza médio */
    --color-black: #0a0a0a;          /* Quase preto */
}


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
    background-color: var(--color-background);
}

.container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 200px;
    flex-flow: column nowrap;
    background-color: beige;
}

.menu {
    padding: 20px 20px;
    flex-direction: row;
    padding-bottom: 150px;
    padding-left: 13px;
    list-style-type: none;
}

.menu > li {
    padding-bottom: 20px;
    text-align: center;
}

.menu > li > a {
    text-decoration: none;
    color: black;
    text-align: justify;
}

.container > h1 {
    padding: 20px 10px;
    text-align: center;
}